
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: black;
}

html,body {
    width: 100%;
    height: 100%;
    
    
}

#main {
    width: 100%;
    min-height: 100%;
    padding: 20px;
    background-color: pink;
    

}
#nav{
    width:100%;
    height:70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    gap: 20px;
}

#nav-p2{
    background-color: aquamarine;
    display: flex;
    gap: 20px;

    
}

#cat h1{
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid purple;
    text-decoration: underline;

}
    
#outer-card-wrap{
    display: flex;
    gap: 20px;
    /* background-color: blue */
    margin-top: 100px;
    justify-content: center;
}

.card{
    background-color: white;
    padding: 20px;
}
#card2 img{
    width: 100%;
    border-radius: 20px;
}
.card img {
    color: red;
    width: 200px;
    height: 200px;
    border-radius: 2px;
    justify-content: center;
    display: flex;
    gap: 1px;

}
#img-text{
    /* background-color: brown; */
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 100px;
}
#img-text img{
    width: 400px;
    height: 500px;

}
#text{
    width: 30%;
}


